<div class="container">
  <div class="file-view-container">
    <div class="file-header">
      <h2><i class="fas fa-file-code"></i> Arquivo: <%= filename %></h2>
    </div>
    
    <div class="file-content">
      <pre><%= content %></pre>
    </div>
    
    <a href="/" class="back-link">
      <i class="fas fa-arrow-left"></i> Voltar para a página inicial
    </a>
  </div>
</div>